<div class="orders">
    <h1>ORDERS</h1>
    <table>
        <thead>
            <th>Order Nº</th>
            <th>Total</th>
            <th>Customer name</th>
            <th>Date</th>
            <th>
                Modify
            </th>
        </thead>
        <tbody>
            <tr *ngFor="let order of ordersList;index as itemIndex; trackBy:trackByFn">
                <td (click)="navigateToOrder(order.orderId)">{{order.orderNumber}}</td>
                <td (click)="navigateToOrder(order.orderId)">{{order.orderTotalValue}}</td>
                <td (click)="navigateToOrder(order.orderId)">{{order.customer?.customerName}}
                    {{order.customer?.customerLastName}}</td>
                <td (click)="navigateToOrder(order.orderId)">{{order.orderCreatedAt | date:'dd/MM/yy | HH:mm:ss'}}</td>
                <td>
                    <div>
                        <button>Edit</button>
                        <button>Delete</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>