<div class="orders">
    <h1>ORDERS</h1>
    <table>
        <thead>
            <th>Order Nº</th>
            <th>Total</th>
            <th>Customer name</th>
            <th>Date</th>
            <th>
                Modify
            </th>
        </thead>
        <tbody>
            <tr *ngFor="let order of ordersList;index as itemIndex; trackBy:trackByFn">
                <td (click)="navigateToOrder(order.orderId)">{{order.orderNumber}}</td>
                <td (click)="navigateToOrder(order.orderId)">{{order.orderTotalValue}}</td>
                <td (click)="navigateToOrder(order.orderId)">{{order.customer?.customerName}}
                    {{order.customer?.customerLastName}}</td>
                <td (click)="navigateToOrder(order.orderId)">{{order.orderCreatedAt | date:'dd/MM/yy | HH:mm:ss'}}</td>
                <td>
                    <div>
                        <button>Edit</button>
                        <button>Delete</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="nav-buttons" *ngIf="(page.totalPages > 1)">
        <a (click)="previousPage()" class="previous" *ngIf="page.pageNumber > 0">
            &laquo; Previous
        </a>
        <a (click)="nextPage()" class="next" *ngIf="page.pageNumber < page.totalPages-1">
            Next &raquo;
        </a>
    </div>

</div>