<div class="order">
    <form autocomplete="off" #form="ngForm" *ngIf="service.formData">

        <div class="form-content">
            <div class="form-item__icon" [inlineSVG]="formIcons.customerId"></div>
            <label for="" class="form-item__label"> {{formLabels.customerId}}</label>
            <input type="text" list="customerId" class="form-item__input" placeholder="Search"
                [(ngModel)]="selectedValue.customerId" name="customerId" (blur)="selectClient($event.target)">
            <datalist id="customerId" class="form-item__input" name="customerId">
                <ng-container *ngFor="let option of options.customerId;">
                    <option *ngIf="option.customerEmail !== ''" [value]="option.customerEmail">
                        {{option.customerEmail}}
                    </option>
                </ng-container>
            </datalist>
        </div>

        <div class="form-content">
            <div class="form-item__icon" [inlineSVG]="formIcons.orderPaymentMethod"></div>
            <label for="" class="form-item__label"> {{formLabels.orderPaymentMethod}}</label>
            <select class="form-item__input" name="orderPaymentMethod" id="orderPaymentMethod"
                [(ngModel)]="selectedValue.orderPaymentMethod" (change)="selectPaymentMethod()">
                <option *ngFor="let option of options.orderPaymentMethod;" [value]="option.type">{{option.type}}
                </option>
            </select>
        </div>

        <ng-container *ngFor="let item of service.formData | keyvalue;  trackBy:trackByFn">
            <ng-container
                *ngIf="item.key !== ('orderPaymentMethod' || null) && item.key !== ('customerId' || null)  && item.key !== ('orderCreatedAt'|| null)">
                <div class="form-content">
                    <div class="form-item__icon" [inlineSVG]="formIcons[item.key]"></div>
                    <label for="" class="form-item__label"> {{formLabels[item.key]}}</label>
                    <input class="form-item__input" name="{{item.key}}" [(ngModel)]="service.formData[item.key]"
                        [readonly]="item.key ===  ('orderNumber'  || null) || item.key ===  ('orderTotalValue' || null)  || item.key ===  ('orderId' || null)">
                </div>
            </ng-container>
        </ng-container>

        <button (click)="saveOrder()">Submit</button>
    </form>
    <table>
        <thead>
            <th>Item</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>
                <button>
                    <a href="order#popup">Add Item</a>
                </button>
            </th>
        </thead>
        <tbody>
        </tbody>
    </table>

    <app-pop-up-order></app-pop-up-order>
    <app-notification [show]="isOrderCreated" [msg]="message"></app-notification>

</div>