.order {
    position: relative;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;

    > form {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 2rem 2rem;
        flex-wrap: wrap;
        @media only screen and (max-width: $SMALL-DEV) {
            flex-direction: column;
            padding: 2rem 0.5rem;
        }

        .form-content {
            width: 50%;
            flex-wrap: wrap;
            display: flex;
            align-items: center;
            padding: 2rem 3rem;

            &:last-child {
                margin-right: auto;
            }

            > input:read-only {
                padding: 0.5rem 1rem;
                border: 1px solid;
                border-radius: 3px;
                background-color: $grey-lighten-5;
            }

            @media only screen and (max-width: $SMALL-DEV) {
                padding: 2rem 0rem;
                width: 100%;
            }
        }

        .form-item {
            &__input {
                padding: 0.5rem 1rem;
                width: 100%;
                border: 2px solid rgba($grey-lighten-1, 1);
                border-radius: 2px;
            }

            &__label {
                font-family: $order-font;
                font-size: 1.8rem;
                letter-spacing: 0.1rem;
                width: 30%;
            }
            &__icon {
                margin-bottom: 0.5rem;
                margin-right: 0.5rem;
                width: 4rem;
                height: 4rem;
                fill: $red-accent-3;
                flex-shrink: 0;
            }
        }

        > button {
            margin: 2rem 3rem;

            @media only screen and (max-width: $SMALL-DEV) {
                margin: 2rem 0rem;
            }
        }
    }

    > table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;

        td,
        th {
            font-size: 2rem;
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr {
            background-color: $grey-lighten-3;
        }

        tr:nth-child(even) {
            background-color: $grey-lighten-4;
            width: min-content;
        }

        th:last-child {
            padding: 0;
            width: 10%;
        }

        .add {
            display: flex;
            align-items: center;
            justify-content: center;

            .btn {
                background-color: $grey-lighten-2;
                font-size: 1.5rem;
                width: 90%;
                transition: transform 0.1s;
                border-radius: 0;

                &:hover {
                    background-color: rgba($color: $grey-lighten-1, $alpha: 0.7);
                }

                a {
                    color: $grey-darken-3;
                    font-weight: bolder;
                }

                .icon {
                    display: flex;
                    height: 1rem;
                    width: 1rem;
                    margin-right: 0.5rem;
                    fill: $grey-darken-4;
                }
            }
        }
    }

    h1 {
        text-align: center;
        color: $grey-darken-1;
        font-size: 3rem;
    }
}
