.order {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;

    > form {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 2rem 2rem;
        flex-wrap: wrap;
        @media only screen and (max-width: $SMALL-DEV) {
            flex-direction: column;
        }

        .form-content {
            width: 50%;
            @media only screen and (max-width: $SMALL-DEV) {
                width: 100%;
            }
            display: flex;
            align-items: center;
            padding: 2rem 3rem;

            &:last-child {
                margin-right: auto;
            }

            > input:read-only {
                padding: 0.5rem 1rem;
                border: 1px solid;
                border-radius: 3px;
                background-color: $grey-lighten-5;
            }
        }

        .form-item {
            &__input {
                width: 60%;
            }

            &__label {
                font-family: $order-font;
                font-size: 1.8rem;
                letter-spacing: 0.1rem;
                width: 30%;
            }
            &__icon {
                margin-right: 0.5rem;
                width: 10%;
                fill: $red-accent-3;
            }
        }

        > button {
            margin: 2rem 3rem;
        }
    }

    > table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        font-size: 2rem;
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
}
